/* Logo Component - Image based logo */

.logo {
  display: flex;
  align-items: center;
}

.logo__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: opacity var(--transition-fast);
}

.logo__link:hover {
  opacity: 0.8;
}

.logo__image {
  height: auto;
  width: auto;
  max-height: 40px;
}
