.button-group {
  display: flex;
  gap: var(--spacing-md);
  flex-wrap: wrap;
}

.button-group--centered {
  justify-content: center;
}

.button-group--vertical {
  flex-direction: column;
}

.button-group--vertical .button {
  width: 100%;
}
