/* Text Utilities - Alleen gebruikte classes */

.text-center {
  text-align: center;
}

.text-secondary {
  color: var(--color-text-secondary);
}

.text-large {
  font-size: var(--font-size-lg);
  color: var(--color-text-secondary);
  line-height: 1.7;
}
