/* Main CSS - Importeert alles */

/* Base */
@import "./base/reset.css";
@import "./base/variables.css";
@import "./base/typography.css";

/* Layout */
@import "./layout/header.css";
@import "./layout/container.css";
@import "./layout/grid.css";

/* Components */
@import "./components/logo.css";
@import "./components/navigation.css";
@import "./components/footer.css";
@import "./components/buttons.css";
@import "./components/button-group.css";
@import "./components/section.css";
@import "./components/hero.css";
@import "./components/title.css";
@import "./components/subtitle.css";
@import "./components/card.css";
@import "./components/icon.css";
@import "./components/feature-card.css";
@import "./components/benefits.css";
@import "./components/workflow.css";
@import "./components/stats.css";

/* Utilities */
@import "./utilities/backgrounds.css";
@import "./utilities/spacing.css";
@import "./utilities/text.css";
@import "./utilities/dev-hide.css";

/* Pages */
@import "./pages/about.css";
