.grid {
  display: grid;
  gap: var(--space-16);
}

.grid-two-columns {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three-columns {
  grid-template-columns: repeat(3, 1fr);
}

.grid-four-columns {
  grid-template-columns: repeat(4, 1fr);
}

.grid-auto {
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

@media (max-width: 768px) {
  .grid {
    gap: var(--space-8);
  }

  .grid-two-columns,
  .grid-three-columns,
  .grid-four-columns {
    grid-template-columns: 1fr;
  }
}
