/* Rework Font - Body/Text */
@font-face {
  font-family: 'Rework';
  src: url('/fonts/rework-font-family-1768805289-0/ReworkTextTRIAL-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Rework';
  src: url('/fonts/rework-font-family-1768805289-0/ReworkTextTRIAL-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rework';
  src: url('/fonts/rework-font-family-1768805289-0/ReworkTextTRIAL-Semibold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Rework';
  src: url('/fonts/rework-font-family-1768805289-0/ReworkTextTRIAL-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

/* Gestura Font - Headings */
@font-face {
  font-family: 'Gestura';
  src: url('/fonts/gestura-font-family/GesturaHeadlineTRIAL-Light-BF64b75504226bf.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gestura';
  src: url('/fonts/gestura-font-family/GesturaHeadlineTRIAL-Regular-BF64b755042170c.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gestura';
  src: url('/fonts/gestura-font-family/GesturaHeadlineTRIAL-Semibold-BF64b755043bff0.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gestura';
  src: url('/fonts/gestura-font-family/GesturaHeadlineTRIAL-Bold-BF64b7550428366.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: var(--font-body);
  font-size: var(--text-base);
  font-weight: 400;
  line-height: 1.8;
  color: var(--c-text);
  background-color: rgb(255, 255, 255);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -0.01em;
  color: var(--c-text);
  margin: 0;
}

h1 {
  color: rgb(14, 97, 93);
}

h2 {
  color: rgb(14, 97, 93);
}

h3 {
  font-size: 19px;
  font-weight: 600;
  color: rgb(14, 97, 93);
  margin-bottom: 14px;
  letter-spacing: -0.3px;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color var(--duration-base) var(--ease);
}

p {
  color: rgba(14, 97, 93, 0.6);
  line-height: 1.65;
  margin: 0;
}
